version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: student_db
    environment:
      POSTGRES_USER: student_user
      POSTGRES_PASSWORD: student_password
      POSTGRES_DB: student_bot_db
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: